/* Gotham Black */
@font-face {
  font-family: "Gotham Black";
  src: url("fonts/Gotham-Black/Gotham-Black-Regular.eot");
  src: url("fonts/Gotham-Black/Gotham-Black-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Black/Gotham-Black-Regular.woff2") format("woff2"), url("fonts/Gotham-Black/Gotham-Black-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Gotham Black Italic */
@font-face {
  font-family: "Gotham Black Italic";
  src: url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.eot");
  src: url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.woff2") format("woff2"), url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Gotham Bold */
@font-face {
  font-family: "Gotham Bold";
  src: url("fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Bold/Gotham-Bold.woff2") format("woff2"), url("fonts/Gotham-Bold/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Gotham Book */
@font-face {
  font-family: "Gotham Book";
  src: url("fonts/Gotham-Book/Gotham-Book-Regular.eot");
  src: url("fonts/Gotham-Book/Gotham-Book-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book/Gotham-Book-Regular.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

#es-garnier.es-garnier {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #fff;
}
#es-garnier.es-garnier * {
  box-sizing: border-box;
}
#es-garnier.es-garnier h2,
#es-garnier.es-garnier h3,
#es-garnier.es-garnier h4,
#es-garnier.es-garnier h5 {
  font-family: "Gotham Book", sans-serif;
  color: #111;
}
#es-garnier.es-garnier .es-kv__logo {
  background: url(images/photo.jpg) no-repeat;
  background-size: cover;
  height: 462px;
}
#es-garnier.es-garnier .es-kv__logo-image {
  display: block;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 70%;
}
#es-garnier.es-garnier .es-kv__label {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  order: 2;
  padding: 5px;
}
#es-garnier.es-garnier .es-kv__label-image {
  width: auto;
}
#es-garnier.es-garnier .es-kv__label-text {
  width: 50%;
  font-size: 13px;
}
#es-garnier.es-garnier .es-kv__packshot {
  padding: 10px;
  position: relative;
  top: -125px;
  order: 1;
}
#es-garnier.es-garnier .es-kv__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-garnier.es-garnier .es-info__title-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 60px;
}
#es-garnier.es-garnier .es-info__border-img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
#es-garnier.es-garnier .es-info__border-img--after {
  left: 85%;
  transform: scaleX(-1) translateY(-50%);
}
#es-garnier.es-garnier .es-info__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "Gotham Black", sans-serif;
  text-transform: uppercase;
  color: #d49899;
}
#es-garnier.es-garnier .es-info__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  color: #d49899;
  text-transform: uppercase;
}
#es-garnier.es-garnier .es-info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
#es-garnier.es-garnier .es-info__container {
  padding: 10px;
}
#es-garnier.es-garnier .es-info__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 31.04px 0.96px rgba(49, 47, 47, 0.09);
}
#es-garnier.es-garnier .es-info__single:not(:last-child) {
  margin-bottom: 20px;
}
#es-garnier.es-garnier .es-info__card-image {
  margin-bottom: 15px;
}
#es-garnier.es-garnier .es-info__card-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 10px;
  font-family: "Gotham Bold", sans-serif;
  font-size: 20px;
  text-align: center;
}
#es-garnier.es-garnier .es-info__card-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
}
#es-garnier.es-garnier .es-ba__image-container {
  position: relative;
}
#es-garnier.es-garnier .es-ba__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-garnier.es-garnier .es-ba__title {
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Gotham Black", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #d49899;
}
#es-garnier.es-garnier .es-ba__subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 20px;
  font-family: "Gotham Bold", sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #d49899;
}
#es-garnier.es-garnier .es-ba__before-text {
  position: absolute;
  top: 5%;
  left: 20%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  font-family: "Gotham Bold", sans-serif;
  color: #fff;
}
#es-garnier.es-garnier .es-ba__after-text {
  position: absolute;
  top: 5%;
  right: 30%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  font-family: "Gotham Bold", sans-serif;
  color: #fff;
}
#es-garnier.es-garnier .es-ba__after-text sup {
  line-height: 0;
}
#es-garnier.es-garnier .es-pack {
  padding: 10px;
  background: #146b30;
  background: linear-gradient(to bottom, #146b30 0%, #146b30 100%);
}
#es-garnier.es-garnier .es-pack__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Gotham Black", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#es-garnier.es-garnier .es-pack__text strong {
  font-size: 60px;
}
#es-garnier.es-garnier .es-pack__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-garnier.es-garnier .es-pack__title {
  font-size: 14px;
  color: #fff;
}
#es-garnier.es-garnier .es-pack__single {
  margin-bottom: 20px;
  padding: 10px;
}
#es-garnier.es-garnier .es-cross__container {
  padding: 10px;
  padding-top: 30px;
}
#es-garnier.es-garnier .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Gotham Bold", sans-serif;
  font-size: 20px;
  color: #d49899;
  text-transform: uppercase;
  text-align: center;
}
#es-garnier.es-garnier .es-cross__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#es-garnier.es-garnier .es-cross__img {
  margin-bottom: 20px;
}
#es-garnier.es-garnier .es-cross__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Gotham Bold", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
#es-garnier.es-garnier .es-cross__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 20px;
  text-align: center;
}
#es-garnier.es-garnier .es-cross__button {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Gotham Bold", sans-serif;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  background-color: #d49899;
  border-radius: 10px;
}
#es-garnier.es-garnier .es-cross__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 30px;
  font-size: 13px;
  text-align: center;
}
#es-garnier.es-garnier .es-footer {
  background-color: #137434;
}
#es-garnier.es-garnier .es-footer__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 340px) {
  #es-garnier.es-garnier .es-kv__logo-image {
    width: 70%;
  }
}
@media screen and (min-width: 394px) {
  #es-garnier.es-garnier .es-kv__packshot {
    margin: 0 auto;
    width: 90%;
    top: -50px;
  }
  #es-garnier.es-garnier .es-kv__label {
    top: -50px;
  }
}
@media screen and (min-width: 474px) {
  #es-garnier.es-garnier .es-kv__logo-image {
    width: 60%;
  }
  #es-garnier.es-garnier .es-kv__packshot {
    top: -75px;
  }
}
@media screen and (min-width: 520px) {
  #es-garnier.es-garnier .es-kv__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 462px;
    padding: 10px;
    background: url(images/photo.jpg) no-repeat;
    background-size: auto;
  }
  #es-garnier.es-garnier .es-kv__logo {
    flex: 1;
    flex-basis: 50%;
    background: none;
  }
  #es-garnier.es-garnier .es-kv__logo-image {
    width: auto;
  }
  #es-garnier.es-garnier .es-kv__packshot {
    flex: 1;
    flex-basis: 50%;
    position: static;
  }
  #es-garnier.es-garnier .es-kv__label {
    position: static;
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */